
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GOT7</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="con1.css">
    <img src="bg.jpg" alt="Mike" style="width:100%">
    

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">GOT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about_us.html">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/about.html">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact1.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    <div class="container">
        <div class="container marketing mt-4">
            <!-- Three columns of text below the carousel -->
            <h1 class="text-center my-4 mt-6"><b>CONTACTS FOR GOT</b></h1>
            <div class="row my-4">
                <div class="col-lg-4 mt-2">
                    {% load static %} <img class="bd-placeholder-card-image" width="180" height="150" src={% static 'image/Pritama.jpeg' %} alt=""/>

                    <h2 class="fw-normal"><b>PRITAM SARKAR</b></h2>
                    <p class="text-center"><b>Student of RCC Institute of Information Technology</b></p>
                    <p>
                                Phone number:<br />
                                8918969446
                            </p>
                            <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="180" height="150" src={% static 'image/Prasanna.jpeg' %} alt="">

                    <h2 class="fw-normal"><b>PRASANNA BISWAS</b></h2>
                    <p class="text-center"><b>Student of RCC Institute of Information Technology</b></p>
                    <p>
                        Phone number:<br />
                        9830360175
                    </p>
                    <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="180" height="150" src={% static 'image/Arnab.jpg' %} alt="">

                    <h2 class="fw-normal"><b>ARNAB DAS</b></h2>
                    <p class="text-center"><b>Student of RCC Institute of Information Technology</b></p>
                    <p>
                        Phone number:<br />
                        9836533602
                    </p>
                    <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container marketing mt-4">
            <!-- Three columns of text below the carousel -->
            <h1 class="text-center my-4"><b>COORDINATORS OF GOT</b></h1>
            <h2 class="text-center my-4"><b>TRACK N FIELD</b></h2>
            <div class="row my-4">
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="170" height="140" src="sabique.jpeg" alt="">

                    <h2 class="fw-normal"><b>SABIQUE</b></h2>
                    <p>
                                Phone number:<br />
                                8017328234
                            </p>
                            <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="170" height="140" src={% static 'image/sankalpa.jpeg' %} alt="">

                    <h2 class="fw-normal"><b>SANKALPA AICH</b></h2>
                    <p>
                        Phone number:<br />
                        891049885
                    </p>
                    <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="170" height="140" src={% static 'image/arka.jpeg' %} alt="">

                    <h2 class="fw-normal"><b>ARKAPRABHA MUNSI</b></h2>
                
                    <p>
                        Phone number:<br />
                        7003390774
                    </p>
                    <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
                <h3 class="text-center my-4"><b><u>SHORT HAND</b></u></h3>
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="170" height="140" src={% static 'image/aritra.jpeg' %} alt="">

                    <h2 class="fw-normal"><b>ARITRA MAITRA</b></h2>
                   
                    <p>
                        Phone number:<br />
                        0000000000
                    </p>
                    <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="170" height="140" src={% static 'image/souvik.jpeg' %} alt="">

                    <h2 class="fw-normal"><b>SOUVIK DEBNATH</b></h2>
                  
                    <p>
                        Phone number:<br />
                        00000000000
                    </p>
                    <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
                <h4 class="text-center my-4"><b><u>TUG OF WAR</b></u></h4>
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="150" height="160" src={% static 'image/aniket.jpeg' %} alt="">

                    <h2 class="fw-normal"><b>ANIKET DEY</b></h2>
                    
                    <p>
                        Phone number:<br />
                        0000000000
                    </p>
                    <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="170" height="160" src={% static 'image/ankita.jpeg' %} alt="">

                    <h2 class="fw-normal"><b>ANKITA MUKHERJEE</b></h2>
                
                    <p>
                        Phone number:<br />
                        00000000
                    </p>
                    <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="170" height="160" src={% static 'image/swastika.jpeg' %} alt="">

                    <h2 class="fw-normal"><b>SWASTIKA BOSE</b></h2>
                
                    <p>
                        Phone number:<br />
                        00000000
                    </p>
                    <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
                <h4 class="text-center my-4"><b><u>TABLE TENNIS</b></u></h4>
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="170" height="140" src={% static 'image/snehasis.jpeg' %} alt="">

                    <h2 class="fw-normal"><b>SNEHASIS SARKAR</b></h2>
                   
                    <p>
                        Phone number:<br />
                        9674806304
                    </p>
                    <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="170" height="140" src="abc.jpeg" alt="">

                    <h2 class="fw-normal"><b>AGHNIV</b></h2>
                  
                    <p>
                        Phone number:<br />
                        7365074117
                    </p>
                    <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container marketing mt-4">
            <!-- Three columns of text below the carousel -->
            <h1 class="text-center my-4"><b>TECH TEAM FOR GOT</b></h1>
            <div class="row my-4">
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="180" height="150" src={% static 'image/atanu.jpg' %} alt="">

                    <h2 class="fw-normal"><b>ATANU BISWAS</b></h2>
                    <p class="text-center"><b>Student of RCC Institute of Information Technology</b></p>
                    <p>
                                Phone number:<br />
                                8116335804
                            </p>
                            <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="180" height="150" src={% static 'image/Sansrita.jpeg' %} alt="">

                    <h2 class="fw-normal"><b>SANSRITA SAHA</b></h2>
                    <p class="text-center"><b>Student of RCC Institute of Information Technology</b></p>
                    <p>
                        Phone number:<br />
                        7003612844
                    </p>
                    <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
                <div class="col-lg-4 mt-2">
                    <img class="bd-placeholder-card-image" width="180" height="150" src={% static 'image/Shuvangi.jpeg' %} alt="">

                    <h2 class="fw-normal"><b>SHUVANGI DE</b></h2>
                    <p class="text-center"><b>Student of RCC Institute of Information Technology</b></p>
                    <p>
                        Phone number:<br />
                        9073174284
                    </p>
                    <!--
                    <p class="text-center"><a class="btn btn-primary"
                            href="mailto:rohitananthakrishnan@gmail.com" rel="noopener noreferrer" target="blank">email</a></p>
                        -->
                </div>
            </div>
        </div>
    </div>
    <hr>

    <section class="about">
        <div>Thank You for visiting us</div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
        <style>
            body {
             background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
             background-size: 400% 400%;
             animation: gradient 15s ease infinite;
             height: 100vh;
         }
         
         @keyframes gradient {
             0% {
                 background-position: 0% 50%;
             }
             50% {
                 background-position: 100% 50%;
             }
             100% {
                 background-position: 0% 50%;
             }
         }
         
         .container{
             margin-top: 90px;
         }
         
         .about {
             margin-top: 30px;
             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: column;
             margin-bottom: 0;
             /* border: 2px solid red; */
         }
         
         .about div {
             margin-left: 70px;
             margin-right: 70px;
             font-size: 22px;
             text-align: center;
             font-weight: bold;
         }
</body>

</html>